[submodule "nvim/.config/nvim/pack/bundle/opt/ale"]
	path = nvim/.config/nvim/pack/bundle/opt/ale
	url = https://github.com/w0rp/ale.git
[submodule "nvim/.config/nvim/pack/bundle/opt/codi.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
[submodule "nvim/.config/nvim/pack/bundle/opt/emmet-vim"]
	path = nvim/.config/nvim/pack/bundle/old/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "nvim/.config/nvim/pack/bundle/opt/goyo.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "nvim/.config/nvim/pack/bundle/opt/limelight.vim"]
	path = nvim/.config/nvim/pack/bundle/opt/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "nvim/.config/nvim/pack/bundle/opt/neco-ghc"]
	path = nvim/.config/nvim/pack/bundle/opt/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-haskellConcealPlus"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-haskellConcealPlus
	url = https://github.com/enomsg/vim-haskellConcealPlus.git
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-matchit"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-matchit
	url = https://github.com/adelarsq/vim-matchit.git
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-ruby"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "nvim/.config/nvim/pack/bundle/start/CamelCaseMotion"]
	path = nvim/.config/nvim/pack/bundle/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "nvim/.config/nvim/pack/bundle/start/delimitMate"]
	path = nvim/.config/nvim/pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "nvim/.config/nvim/pack/bundle/start/supertab"]
	path = nvim/.config/nvim/pack/bundle/opt/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "nvim/.config/nvim/pack/bundle/start/tabular"]
	path = nvim/.config/nvim/pack/bundle/old/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "nvim/.config/nvim/pack/bundle/start/targets.vim"]
	path = nvim/.config/nvim/pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "nvim/.config/nvim/pack/bundle/start/ultisnips"]
	path = nvim/.config/nvim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "nvim/.config/nvim/pack/bundle/start/undotree"]
	path = nvim/.config/nvim/pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-commentary"]
	path = nvim/.config/nvim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-dispatch"]
	path = nvim/.config/nvim/pack/bundle/old/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-pencil"]
	path = nvim/.config/nvim/pack/bundle/old/vim-pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-polyglot"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-repeat"]
	path = nvim/.config/nvim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-surround"]
	path = nvim/.config/nvim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-tmux-navigator"]
	path = nvim/.config/nvim/pack/bundle/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-unimpaired"]
	path = nvim/.config/nvim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "tmux/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-colors-solarized"]
	path = tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized
[submodule "zshrc/.zsh/zsh-syntax-highlighting"]
	path = zshrc/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-latex-live-preview"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview
[submodule "nvim/.config/nvim/pack/bundle/start/ncm2"]
	path = nvim/.config/nvim/pack/bundle/opt/ncm2
	url = https://github.com/ncm2/ncm2
[submodule "nvim/.config/nvim/pack/bundle/start/nvim-yarp"]
	path = nvim/.config/nvim/pack/bundle/old/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "nvim/.config/nvim/pack/bundle/start/ncm2-bufword"]
	path = nvim/.config/nvim/pack/bundle/opt/ncm2-bufword
	url = https://github.com/ncm2/ncm2-bufword
[submodule "nvim/.config/nvim/pack/bundle/start/ncm2-path"]
	path = nvim/.config/nvim/pack/bundle/opt/ncm2-path
	url = https://github.com/ncm2/ncm2-path
[submodule "nvim/.config/nvim/pack/bundle/start/fzf.vim"]
	path = nvim/.config/nvim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/.config/nvim/pack/bundle/start/vim-go"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-go
	url = https://github.com/fatih/vim-go
[submodule "nvim/.config/nvim/pack/bundle/start/ncm2-vim-lsp"]
	path = nvim/.config/nvim/pack/bundle/opt/ncm2-vim-lsp
	url = https://github.com/ncm2/ncm2-vim-lsp
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-elixir"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "nvim/.config/nvim/pack/bundle/start/vim-lsp"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "nvim/.config/nvim/pack/bundle/start/vim-lsp-ultisnips"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-lsp-ultisnips
	url = https://github.com/thomasfaingnaert/vim-lsp-ultisnips
[submodule "nvim/.config/nvim/pack/bundle/start/vim-lsp-snippets"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-lsp-snippets
	url = https://github.com/thomasfaingnaert/vim-lsp-snippets
[submodule "nvim/.config/nvim/pack/bundle/start/ncm2-ultisnips"]
	path = nvim/.config/nvim/pack/bundle/opt/ncm2-ultisnips
	url = https://github.com/ncm2/ncm2-ultisnips
[submodule "nvim/.config/nvim/pack/bundle/start/vim-snippets"]
	path = nvim/.config/nvim/pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "nvim/.config/nvim/pack/bundle/start/nerdtree"]
	path = nvim/.config/nvim/pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "nvim/.config/nvim/pack/bundle/opt/vim-markdown-edit-code-block"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-markdown-edit-code-block
	url = https://github.com/Chandlercjy/vim-markdown-edit-code-block
[submodule "nvim/.config/nvim/pack/bundle/start/vim-liquid"]
	path = nvim/.config/nvim/pack/bundle/start/vim-liquid
	url = https://github.com/tpope/vim-liquid
[submodule "nvim/.config/nvim/pack/bundle/start/vim-markdown"]
	path = nvim/.config/nvim/pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "nvim/.config/nvim/pack/bundle/start/vimwiki"]
	path = nvim/.config/nvim/pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "nvim/.config/nvim/pack/bundle/start/calendar-vim"]
	path = nvim/.config/nvim/pack/bundle/old/calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule "nvim/.config/nvim/pack/bundle/start/vim-taskwarrior"]
	path = nvim/.config/nvim/pack/bundle/old/vim-taskwarrior
	url = https://github.com/blindFS/vim-taskwarrior
[submodule "refind/rEFInd-minimal"]
	path = refind/rEFInd-minimal
	url = https://github.com/EvanPurkhiser/rEFInd-minimal
[submodule "nvim/.config/nvim/pack/bundle/start/suda.vim"]
	path = nvim/.config/nvim/pack/bundle/start/suda.vim
	url = https://github.com/lambdalisue/suda.vim
[submodule "nvim/.config/nvim/pack/bundle/start/vim-fugitive"]
	path = nvim/.config/nvim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/.config/nvim/pack/bundle/start/vim-tmux-runner"]
	path = nvim/.config/nvim/pack/bundle/opt/vim-tmux-runner
	url = https://github.com/christoomey/vim-tmux-runner
[submodule "nvim/.config/nvim/pack/bundle/opt/nvim-treesitter"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/.config/nvim/pack/bundle/opt/nvim-lspconfig"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/.config/nvim/pack/bundle/opt/completion-nvim"]
	path = nvim/.config/nvim/pack/bundle/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim
[submodule "nvim/.config/nvim/pack/bundle/opt/popup.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "nvim/.config/nvim/pack/bundle/opt/plenary.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/.config/nvim/pack/bundle/opt/telescope.nvim"]
	path = nvim/.config/nvim/pack/bundle/opt/telescope.nvim
	url = https://github.com/nvim-lua/telescope.nvim
[submodule "nvim/.config/nvim/pack/bundle/start/vimpeccable"]
	path = nvim/.config/nvim/pack/bundle/start/vimpeccable
	url = https://github.com/svermeulen/vimpeccable
[submodule "nvim/.config/nvim/pack/bundle/start/lsp-status.nvim"]
	path = nvim/.config/nvim/pack/bundle/start/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
[submodule "nvim/.config/nvim/pack/bundle/start/nvim-lsputils"]
	path = nvim/.config/nvim/pack/bundle/start/nvim-lsputils
	url = https://github.com/RishabhRD/nvim-lsputils
[submodule "nvim/.config/nvim/pack/bundle/start/vim-beancount"]
	path = nvim/.config/nvim/pack/bundle/start/vim-beancount
	url = https://github.com/nathangrigg/vim-beancount
[submodule "nvim/.config/nvim/pack/bundle/start/julia-vim"]
	path = nvim/.config/nvim/pack/bundle/start/julia-vim
	url = https://github.com/JuliaEditorSupport/julia-vim
[submodule "nvim/.config/nvim/pack/bundle/start/taskwiki"]
	path = nvim/.config/nvim/pack/bundle/old/taskwiki
	url = https://github.com/tools-life/taskwiki
[submodule "nvim/.config/nvim/pack/bundle/start/popfix"]
	path = nvim/.config/nvim/pack/bundle/start/popfix
	url = https://github.com/RishabhRD/popfix
[submodule "nvim/.config/nvim/pack/bundle/start/vim-rhubarb"]
	path = nvim/.config/nvim/pack/bundle/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "nvim/.config/nvim/pack/bundle/start/AirLatex.vim"]
	path = nvim/.config/nvim/pack/bundle/start/AirLatex.vim
	url = https://github.com/da-h/AirLatex.vim
[submodule "nvim/.config/nvim/pack/bundle/start/vim-openscad"]
	path = nvim/.config/nvim/pack/bundle/start/vim-openscad
	url = https://github.com/sirtaj/vim-openscad
[submodule "nvim/.config/nvim/pack/bundle/start/vim-easy-align"]
	path = nvim/.config/nvim/pack/bundle/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
