xterm*faceName: Inconsolata Regular
xterm*faceSize: 12
xterm*loginshell: true
XTerm*utf8: 1

URxvt*font: xft:Inconsolata\ for\ Powerline:13
URxvt.letterSpace: -1
URxvt.scrollBar: false

Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! ! Base16 Monokai
! ! Scheme: Wimer Hazenberg (http://www.monokai.nl)
! 
! #define base00 #272822
! #define base01 #383830
! #define base02 #49483e
! #define base03 #75715e
! #define base04 #a59f85
! #define base05 #f8f8f2
! #define base06 #f5f4f1
! #define base07 #f9f8f5
! #define base08 #f92672
! #define base09 #fd971f
! #define base0A #f4bf75
! #define base0B #a6e22e
! #define base0C #a1efe4
! #define base0D #66d9ef
! #define base0E #ae81ff
! #define base0F #cc6633
! 
! *.foreground:   base05
! *.background:   base00
! *.cursorColor:  base05
! 
! *.color0:       base00
! *.color1:       base08
! *.color2:       base0B
! *.color3:       base0A
! *.color4:       base0D
! *.color5:       base0E
! *.color6:       base0C
! *.color7:       base05
! 
! *.color8:       base03
! *.color9:       base09
! *.color10:      base01
! *.color11:      base02
! *.color12:      base04
! *.color13:      base06
! *.color14:      base0F
! *.color15:      base07

rofi.font: System San Francisco Display Regular 13
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281
! https://www.reddit.com/r/unixporn/comments/4t7n91/i3_good_ol_solarized/

! old rofi settings
! rofi.modi: run
! rofi.font: System San Francisco Display Regular 13
! rofi.width: 100
! rofi.opacity: 96
! rofi.padding:200
! rofi.lines: 5
! rofi.columns: 1
! rofi.color-enabled: true
! 
! !!!COLORS
! ! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
! rofi.color-window: argb:c336343f, argb:0e9dbdb, argb:0ef6155
! 
! rofi.color-normal: argb:0191525,argb:dcffffff, argb:02f1e2e, argb:9a0e1c26, #d6376d
! 
! ! rofi.color-active: argb:02f1e2e, #268bd2, argb:02f1e2e, #268bd2, #fdf6e3
! 
! ! rofi.color-urgent: argb:0fdf6e3, #dc322f, argb:0eee8d5, #dc322f, #fdf6e3
! 
! ! Separator style (none, dash, solid)
! rofi.separator-style:            dash

XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
